.btn-link {
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-btn-font);
  background-color: var(--color-btn-bg);
  padding: 11px 12px;
  display: block;
  box-sizing: border-box;
}
