.burger {
  border: none;
  width: 24px;
  height: 18px;
  cursor: pointer;
  background: url("../img/burger-menu.svg") no-repeat center center var(--color-btn-font);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
