.burger {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 24px;
  height: 18px;
  cursor: pointer;
  grid-column: -2 / -1;
  background: url("../img/burger-closed.svg") center center var(--color-btn-font);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
