.card {
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 140px;
  gap: 13px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-blocks);
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: lh(20, 16);
  text-transform: uppercase;
  margin: 0;
  width: 76px;
  grid-column: 2 / 3;
}

.card__list-description {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: lh(16, 12);
  color: var(--color-text-font);
  width: 140px;
  grid-column: 2 / 3;
}

.card__parameter-value {
  display: flex;
  justify-content: space-between;
}

.card__value {
  margin: 0;
}

.card__sub-text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: lh(16, 12);
  color: var(--color-text-font);
}

.card__btn-link {
  width: 280px;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
