.card {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    padding: 0 40px 40px 40px;
    grid-template-columns: 1fr;
    background-color: var(--color-bg-blocks);
  }
}

.card--extra-product {
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding: 0 40px 40px 40px;
    grid-template-columns: 1fr;
    background-color: var(--color-bg-blocks);
  }
}

.card__image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: lh(20, 16);
  text-transform: uppercase;
  margin: 0;
  width: 76px;
  grid-column: 2 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.card__title--extra {
  grid-column: 1 / -1;
}

.card__list-description {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: lh(16, 12);
  color: var(--color-text-font);
  grid-column: 2 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.card__parameter-value {
  display: flex;
  justify-content: space-between;
}

.card__value {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: lh(16, 12);
  color: var(--color-text-font);
  margin: 0;
}

.card__sub-text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: lh(16, 12);
  color: var(--color-text-font);
}

.card__btn-link {
  width: 280px;
  grid-column: 1 / -1;
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}
