.copyright__link {
  text-decoration: none;
}

.copyright__title {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 16px;
  line-height: lh(19, 16);
  color: var(--color-text-font);
  margin: 0;
}
