.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link::after {
  content: "";
  width: 27px;
  height: 34px;
  mask: url("../img/sprite.svg#logo-copyright") no-repeat center;
  background-color: var(--gray-semi-dark);

  @media (min-width: $tablet-width) {
    margin-left: 28px;
  }
}

.copyright__link:hover::after {
  background-color: var(--bright);
}

.copyright__link:active::after {
  background-color: var(--bright);
}

.copyright__title {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 16px;
  line-height: lh(19, 16);
  color: var(--color-text-font);
  margin: 0;
  align-self: center;
}
