.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.copyright__link::after {
  content: "";
  width: 27px;
  height: 34px;
  background: url("../img/logo-copyright.svg") no-repeat center center;
}

.copyright__title {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 16px;
  line-height: lh(19, 16);
  color: var(--color-text-font);
  margin: 0;
  align-self: center;
}
