.example {
  background-color: var(--color-bg-special);
}

.example__title {
  padding: 25px 0 0 0;
  margin-bottom: 40px;
}

.example__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  line-height: lh(18, 14);
  color: var(--color-text-font);
  margin: 0 0 20px 0;
}

.example__list {
  margin: 0 0 20px 0;
  display: grid;
  grid-template-columns: 124px 124px;
  gap: 32px;
}

.example__term {
  font-weight: 400;
  font-size: 24px;
  line-height: lh(24, 24);
}

.example__definition {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: lh(12, 12);
  color: var(--color-text-font);
  margin: 0;
}

.example__text-info {
  font-weight: 400;
  font-size: 14px;
  line-height: lh(20, 14);
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__title {
    margin-bottom: 63px;
  }

  .example__text {
    font-size: 16px;
    line-height: lh(24, 16);
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: grid;
    grid-template-columns: 436px 560px;
    column-gap: 200px;
  }

  .example__title {
    grid-column: 1 / 2;
    margin-bottom: 76px;
  }

  .example__text {
    grid-column: 1 / 2;
    padding: 70px 0 69px 0;
  }

  .example__wrapper {
    grid-column: 1 / 2;
    display: block;
  }

  .example__slider {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}
