.form {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.form__group--pet-info {
  padding-bottom: 24px;
  margin-bottom: 28px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.form__group--program-type {
  padding-bottom: 24px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    border: 1px solid var(--color-input-border);
    padding: 30px 28px;
    margin-bottom: 75px;
  }


  @media (min-width: $desktop-width) {
    grid-column: -2 / -1;
  }
}

.form__group--contacts {
  margin-bottom: 24px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-bottom: 70px;
  }
}

.form__group--comment {
  margin-bottom: 23px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-bottom: 67px;
  }
}

.form__group--additional {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: lh(18, 16);
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 13px;
  position: relative;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: lh(30, 20);
  }
}

.form__label--programs {
  padding: 0 0 0 45px;
}

.form__label--options {
  padding: 0 0 0 46px;
}

.form__signature {
  font-weight: 400;
  font-size: 16px;
  line-height: lh(18, 16);
  text-transform: uppercase;
  color: var(--color-text-font);
  align-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: lh(30, 20);
  }
}

.form__input {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: lh(18, 16);
  text-transform: uppercase;
  padding: 14px 0 13px 20px;
  border: 1px solid var(--color-input-border);
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: lh(30, 20);
  }
}

.form__input::placeholder {
  color: var(--color-text-font);
}

.form__input--email {
  background: url("../img/sprite.svg#email-icon") right 15px center / 20px 20px no-repeat;
}

.form__input--phone {
  background: url("../img/sprite.svg#phone-icon") right 15px center / 20px 20px no-repeat;
}


.form__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  gap: 23px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
  }
}

.form__list--contacts {
  gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.form__list--additional {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 64px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.form__item--program {
  justify-self: start;
}

.form__item--additional {
  justify-self: start;
}

.form__control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-input-border-special);
  border-radius: 50%;
  box-sizing: border-box;
}

.form__control-mark--checkbox {
  border-radius: 0;
}

.form__label:focus-within .form__control-mark {
  outline: 2px solid var(--bright);
  outline-offset: 2px;
}

.form__input[type="radio"]:checked + .form__control-mark::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--color-btn-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__input[type="checkbox"]:checked + .form__control-mark::before {
  content: "";
  width: 18px;
  height: 14px;
  background: url("../img/sprite.svg#green-check") no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__title {
  font-weight: 400;
  font-size: 24px;
  line-height: lh(26, 24);
  color: var(--color-font);
  margin-bottom: 40px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 0 21px #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: lh(36, 36);
    margin-bottom: 76px;
    box-shadow: 0 0 0 40px #ffffff;
  }
}

.form__title::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 100vw;
  height: 2px;
  background-color: var(--bright);
  box-shadow: 100vw 0 var(--bright);
  z-index: -1;
}

.form__br::after {
  content: "\A";
  white-space: pre;
}

.form__text-comment {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: lh(18, 16);
  text-transform: uppercase;
  width: 100%;
  border: 1px solid var(--color-input-border);
  overflow: hidden;
  min-height: 150px;
  resize: vertical;
  outline: none;
  padding-left: 15px;
  padding-top: 9px;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: lh(30, 20);
    min-height: 174px;
  }
}

.form__text-comment::placeholder {
  color: var(--color-text-font);
}

.form__btn-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.form__btn-link {
  @media (min-width: $tablet-width) {
    width: 100%;
    justify-self: start;
  }
}

.form__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  line-height: lh(16, 14);
  margin: 0;
  justify-self: center;

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: start;
  }
}
