.how-it-works__title {
  margin: 0 0 40px 0;
}

.how-it-works__list {
  @include list-reset;
  display: grid;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 137px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
  }
}

.how-it-works__item {
  width: 280px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    width: 250px;
    display: block;
  }
}

.how-it-works__item:not(:last-child) {
  margin-bottom: 20px;
}

.how-it-works__item::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background-color: var(--color-btn-bg);

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 31px;
  }
}

.how-it-works__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  line-height: lh(18, 14);
  color: var(--color-text-font);
  margin: 0;
}
