.how-it-works__title {
  margin: 0 0 40px 0;
}

.how-it-works__list {
  @include list-reset;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 137px;
    counter-reset: points;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
  }
}

.how-it-works__item {
  width: 280px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}

.how-it-works__item::before {
  content: "";
  width: 60px;
  height: 60px;
  display: inline-block;
  background: var(--color-btn-bg) var(--bgi) no-repeat center center;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 31px;
  }
}

.how-it-works__item::after {
  @media (min-width: $tablet-width) {
    content: "" counter(points);
    counter-increment: points;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 280px;
    line-height: lh(280, 280);
    color: var(--gray-basic);
    grid-column: -2 / -1;
    grid-row: 1 / 4;
    justify-self: end;
  }
}

.how-it-works__item--leaf {
  --bgi: url("../img/icon-leaf.svg");
}

.how-it-works__item--powder {
  --bgi: url("../img/icon-powder.svg");
}

.how-it-works__item--cutlery {
  --bgi: url("../img/icon-cutlery.svg");
}

.how-it-works__item--scales {
  --bgi: url("../img/icon-scales.svg");
}

.how-it-works__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  line-height: lh(18, 14);
  color: var(--color-text-font);
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    z-index: 2;
  }
}
