.main-catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: lh(36, 36);
  color: var(--color-font);
  padding-top: 24px;
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: lh(60, 60);
  }

  @media (min-width: $tablet-width) {
    padding-top: 72px;
  }
}
