.map {
  display: grid;
  grid-template-columns: 1fr;
}

.map__figure {
  justify-self: center;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.map__image {
  width: 320px;
  height: 362px;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    height: 400px;
  }
}

.map__iframe {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  border: none;
  width: 100%;
  height: 100%;
  z-index: 2;
}
