.marketing__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 16px;
  line-height: math.div(20, 16);
  color: var(--color-btn-font);
  background-color: var(--color-btn-bg);
}
