.nav {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: lh(20, 20);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: lh(24, 18);
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: lh(30, 20);
    color: var(--color-btn-font);
    background-color: var(--color-accent-bg);
    margin-left: auto;
  }
}

.nav--closed .nav__list {
  display: none;
}

.nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.nav__item {
  padding: 22px 0 24px 0;
  text-align: center;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-font);
}
