.nav {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: lh(20, 20);
  text-transform: uppercase;
}

.nav__list {
  @include list-reset;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-font);
}

@media (min-width: $tablet-width) {
  .nav {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 20px;
    line-height: lh(24, 18);
    text-transform: uppercase;
  }

  .nav__list {
    display: flex;
  }
}
