.nutrition {
  background: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 303px, $transparent 303px), url("../img/cat-intro.jpg") no-repeat center top;
}

.nutrition__wrapper {
  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.nutrition__title {
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
  color: var(--color-btn-font);
}

.nutrition__text {
  font-weight: 400;
  font-size: 14px;
  line-height: lh(14, 14);
  text-transform: uppercase;
  color: var(--color-btn-font);
  text-align: center;
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: lh(20, 20);
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 0;
  }
}

.nutrition__image {
  margin-bottom: 3px;
}

.nutrition__btn-link {
  width: 280px;
  margin-bottom: 20px;
}
