.nutrition {
  background: url("../img/green-cat.png") no-repeat center top, linear-gradient(to left, #62a53a 50%, #63a73c 50%) no-repeat center top / 100% 303px;

  @media (min-width: $tablet-width) {
    background: transparent;
    position: relative;
  }
}

.nutrition__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.nutrition__title {
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
  color: var(--color-btn-font);

  @media (min-width: $tablet-width) {
    color: var(--color-font);
    text-align: start;
    margin: 0 0 41px 88px;
  }
}

.nutrition__text {
  font-weight: 400;
  font-size: 14px;
  line-height: lh(14, 14);
  text-transform: uppercase;
  color: var(--color-btn-font);
  text-align: center;
  margin: 0 0 29px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: lh(20, 20);
    color: var(--color-font);
    text-align: start;
    margin: 0 0 20px 88px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 0;
  }
}

.nutrition__image {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    justify-self: center;
  }
}

.nutrition__btn-link {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 20px 0 0 88px;

    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }
}
