.page-header {
  position: relative;
  background-color: #ffffff;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr min-content;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-header__burger {
  grid-column: -2 / -1;
  align-self: center;
}

