.page-footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: var(--color-bg-blocks);

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1340px 1fr;
    grid-template-rows: 95px 198px 107px min-content;
  }
}

.page-footer__partnership {
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: start;
    margin-left: 60px;
    z-index: 3;
  }
}

.page-footer__map {
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 4;
  }
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    justify-self: start;
  }
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    justify-self: start;
  }
}

.page-footer__social {
  justify-self: center;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.page-footer__copyright {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
    align-self: center;
    justify-self: end;
  }
}
