.page-header {
  position: relative;
  background-color: #ffffff;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr min-content;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, max-content) 1fr;
    gap: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.page-header__burger {
  grid-column: -2 / -1;
  align-self: center;
}
