.partnership {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 565px;
    justify-content: flex-start;
  }
}

.partnership__title {
  font-weight: 400;
  font-size: 16px;
  line-height: lh(20, 16);
  text-transform: uppercase;
  color: var(--color-address-font);
  width: 139px;
  margin: 0;

  @media (min-width: $desktop-width) {
    margin: 0 87px 0 80px;
  }
}

.partnership__address {
  width: 139px;
}

.partnership__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: lh(20, 14);
  color: var(--color-text-font);
  margin: 0;
}
