.partnership {
  background-color: var(--color-input-bg);

  outline: var(--out-width) solid #00ff00;
  outline-offset: calc(0px - var(--out-width));
}

.partnership__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    grid-template-columns: 215px 205px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 565px;
  }
}

.partnership__title {
  font-weight: 400;
  font-size: 16px;
  line-height: lh(20, 16);
  text-transform: uppercase;
  color: var(--color-address-font);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: lh(26, 20);
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.partnership__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: lh(20, 14);
  color: var(--color-text-font);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: lh(20, 16);
    text-align: end;
    margin-right: 40px;
  }
}

.partnership__text span {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}
