.product-cards {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.product-cards__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    grid-column: 1 / -1;
  }
}

.product-cards__list--extra-products {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    border: none;
    border-top: 1px solid var(--color-input-border-special);
    border-bottom: 1px solid var(--color-input-border-special);
  }
}

.product-cards__title {
  font-weight: 400;
  font-size: 24px;
  line-height: lh(24, 24);
  color: var(--color-font);
}


.product-cards__marketing {
  margin-bottom: 35px;
}
