.product-cards {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.product-cards__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    grid-column: 1 / -1;
  }
}

.product-cards__list--extra-products {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
    border: none;
    border-top: 1px solid var(--color-input-border-special);
    border-bottom: 1px solid var(--color-input-border-special);
  }
}

.product-cards__title {
  font-weight: 400;
  font-size: 24px;
  width: fit-content;
  line-height: lh(24, 24);
  color: var(--color-font);
  position: relative;
  background-color: #ffffff;
  box-shadow: 21px 0 0 0 #ffffff, -21px 0 0 0 #ffffff;

  @media (min-width: $tablet-width) {
    line-height: lh(36, 36);
    margin-bottom: 76px;
    box-shadow: 40px 0 0 0 #ffffff, -40px 0 0 0 #ffffff;
    padding: 0;
  }
}


.product-cards__title::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 100vw;
  height: 2px;
  background-color: var(--bright);
  box-shadow: 100vw 0 var(--bright);
  z-index: -1;
}


.product-cards__marketing {
  margin-bottom: 35px;
}
