@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
:root {
  --main-font: "Oswald", sans-serif;
  --additional-font: "Lato", sans-serif;
  --indent-x: 20px;
  --gray-basic: #f2f2f2;
  --gray-special: #eaeaea;
  --gray-pale: #ebebeb;
  --gray-light: #e7e7e7;
  --grayish: #d9d9d9;
  --gray: #cdcdcd;
  --gray-semi-dark: #666666;
  --gray-dark: #444444;
  --gray-darker: #222222;
  --gray-deep: #111111;
  --bright: rgb(105, 184, 56);
  --bright-deep: #5eaa2f;
  --danger: #ff8282;
  --color-font: #000000;
  --color-btn-font: rgb(255, 255, 255);
  --color-text-font: var(--gray-dark);
  --color-address-font: var(--gray-deep);
  --color-btn-bg: var(--bright);
  --color-btn-states: var(--bright-deep);
  --color-accent-bg: var(--bright);
  --color-bg-blocks: var(--gray-basic);
  --color-bg-special: var(--gray-special);
  --color-error: var(--danger);
  --color-input-bg: #ffffff;
  --color-input-border: var(--gray-light);
  --color-input-border-special: var(--gray);
  --color-border-nav: #e6e6e6;
}
@media (min-width: 768px) {
  :root {
    --indent-x: 30px;
  }
}
@media (min-width: 1200px) {
  :root {
    --indent-x: 60px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  --out-width: 2px;
}

html {
  height: 100%;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.2857142857;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100%;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  max-width: 1340px;
  margin: 0 auto;
  padding-left: var(--indent-x);
  padding-right: var(--indent-x);
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}

.burger {
  border: none;
  width: 24px;
  height: 18px;
  cursor: pointer;
  background: url("../img/burger-menu.svg") no-repeat center center var(--color-btn-font);
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
}

.btn-link {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-btn-font);
  background-color: var(--color-btn-bg);
  border: none;
  padding: 10px 12px;
  display: block;
  box-sizing: border-box;
}
.btn-link:hover {
  background-color: var(--bright-deep);
}
.btn-link:active {
  background-color: var(--bright-deep);
  color: rgba(255, 255, 255, 0.3);
}

.btn-link--bg {
  color: var(--color-text-font);
  background-color: var(--color-bg-blocks);
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  margin: 0;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 1;
  }
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.copyright__link::after {
  content: "";
  width: 27px;
  height: 34px;
  background: url("../img/logo-copyright.svg") no-repeat center center;
}
@media (min-width: 768px) {
  .copyright__link::after {
    margin-left: 28px;
  }
}

.copyright__title {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--color-text-font);
  margin: 0;
  align-self: center;
}

.page-header {
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  --color-menu: var(--color-font);
  --color-menu-active: var(--bright);
}
@media (min-width: 1200px) {
  .page-header {
    background-color: rgba(0, 0, 0, 0);
    --color-menu: var(--gray-deep);
  }
}

@media (min-width: 1200px) {
  .page-header--index {
    --color-menu: #ffffff;
    --color-menu-active: #ffffff;
  }
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: max-content 1fr min-content;
}
@media (min-width: 768px) {
  .page-header__wrapper {
    grid-template-columns: repeat(2, max-content) 1fr;
    gap: 12px;
  }
}
@media (min-width: 1200px) {
  .page-header__wrapper {
    margin-top: 53px;
  }
}

@media (min-width: 768px) {
  .page-header__nav {
    justify-self: end;
  }
}

.page-header__burger {
  grid-column: -2/-1;
  align-self: center;
}

.logo {
  justify-self: center;
  align-self: center;
}

.logo--image {
  margin: 10px 0 18px 0;
}
@media (min-width: 768px) {
  .logo--image {
    margin: 0;
  }
}
.logo--image:hover {
  opacity: 0.8;
}
.logo--image:active {
  opacity: 0.6;
}

.logo__text {
  display: block;
  margin: 0;
}
.logo__text:hover {
  opacity: 0.8;
}
.logo__text:active {
  opacity: 0.6;
}

.nav {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .nav {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3333333333;
  }
}
@media (min-width: 1200px) {
  .nav {
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-btn-font);
  }
}

.nav--closed {
  display: none;
}
@media (min-width: 768px) {
  .nav--closed {
    display: block;
  }
}

@media (max-width: 768px) {
  .nav--opened {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-input-bg);
  }
}

.nav--opened ~ .burger {
  background: url("../img/burger-cross.svg") no-repeat center center var(--color-btn-font);
}

.nav--nojs {
  display: block;
  grid-column: 1/-1;
}

.nav--nojs ~ .burger {
  display: none;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .nav__list {
    margin-top: 18px;
    display: flex;
    column-gap: 35px;
  }
}
@media (min-width: 1200px) {
  .nav__list {
    margin-top: 16px;
  }
}

.nav__item {
  padding: 22px 0 24px 0;
  text-align: center;
  border-bottom: 1px solid var(--color-border-nav);
}
@media (min-width: 768px) {
  .nav__item {
    padding: 0;
    border: none;
  }
}

.nav__item:first-child {
  border-top: 1px solid var(--color-border-nav);
}
@media (min-width: 768px) {
  .nav__item:first-child {
    border: none;
  }
}

.nav__link {
  display: block;
  text-decoration: none;
  color: var(--color-menu);
}
@media (min-width: 1200px) {
  .nav__link {
    color: var(--color-menu);
  }
}
.nav__link:hover {
  opacity: 0.6;
}
.nav__link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .nav__link--active::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--color-menu-active);
    display: block;
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .nav__link--active::after {
    background-color: var(--color-menu-active);
  }
}

.page-main__nutrition {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .page-main__nutrition {
    margin-bottom: 82px;
    padding-top: 4px;
  }
}

.page-main__diet {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .page-main__diet {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .page-main__diet {
    margin-bottom: 71px;
  }
}

.page-main__how-it-works {
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .page-main__how-it-works {
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .page-main__how-it-works {
    margin-bottom: 69px;
  }
}

.nutrition {
  background: url("../img/green-cat-mobile.png") no-repeat center top, linear-gradient(to left, #62a53a 50%, #63a73c 50%) no-repeat center top/100% 303px;
}
@media (min-resolution: 2dppx) {
  .nutrition {
    background: url("../img/green-cat-mobile@2x.png") no-repeat center top/320px auto, linear-gradient(to left, #62a53a 50%, #63a73c 50%) no-repeat center top/100% 303px;
  }
}
@media (min-width: 768px) {
  .nutrition {
    background: transparent;
    position: relative;
  }
}

.nutrition__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1200px) {
  .nutrition__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .nutrition__wrapper::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1694px;
    right: 0;
    bottom: 0;
    background: #61a439 url("../img/green-cat-desktop.png") no-repeat left bottom/1044px 696px;
    z-index: -1;
  }
}
@media (min-width: 1200px) and (min-resolution: 2dppx) {
  .nutrition__wrapper::after {
    background: #61a439 url("../img/green-cat-desktop@2x.png") no-repeat left bottom/1044px 696px;
  }
}

.nutrition__title {
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
  color: var(--color-btn-font);
}
@media (min-width: 768px) {
  .nutrition__title {
    color: var(--color-font);
    text-align: start;
    margin: 0 0 41px 88px;
    padding-top: 62px;
  }
}
@media (min-width: 1200px) {
  .nutrition__title {
    grid-column: 1/2;
    padding-top: 114px;
    margin: 0 0 40px 80px;
  }
}

.nutrition__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--color-btn-font);
  text-align: center;
  margin: 0 0 29px 0;
}
@media (min-width: 768px) {
  .nutrition__text {
    font-size: 20px;
    line-height: 1;
    color: var(--color-font);
    text-align: start;
    margin: 0 0 20px 88px;
  }
}
@media (min-width: 1200px) {
  .nutrition__text {
    grid-column: 1/2;
    margin: 0 0 52px 80px;
  }
}

.nutrition__figure {
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .nutrition__figure {
    grid-column: 1/-1;
    grid-row: 3/5;
    justify-self: center;
  }
}
@media (min-width: 1200px) {
  .nutrition__figure {
    position: absolute;
    left: calc(50% - 162px);
    top: 32px;
    margin: 0;
  }
}

.nutrition__image {
  width: 280px;
  height: 270px;
}
@media (min-width: 768px) {
  .nutrition__image {
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1200px) {
  .nutrition__image {
    width: 552px;
    height: 499px;
  }
}

.nutrition__btn-link {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .nutrition__btn-link {
    width: 244px;
    margin: 20px 0 0 88px;
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}
@media (min-width: 1200px) {
  .nutrition__btn-link {
    margin: 0 0 185px 80px;
  }
}

.diet__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 1200px) {
  .diet__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

.diet__item {
  background-color: var(--color-bg-blocks);
  padding: 22px 20px 18px 20px;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 10px;
}
@media (min-width: 768px) {
  .diet__item {
    padding: 77px 62px 57px 52px;
    grid-template-columns: 1fr min-content;
    column-gap: 54px;
  }
}
@media (min-width: 1200px) {
  .diet__item {
    grid-template-columns: min-content 1fr;
    padding: 41px 61px 55px 52px;
    column-gap: 47px;
  }
}

.diet__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5416666667;
  text-transform: uppercase;
  margin: 0;
  grid-column: -2/-1;
  align-self: center;
}
@media (min-width: 768px) {
  .diet__title {
    font-size: 36px;
    line-height: 1;
    grid-column: 1/2;
  }
}
@media (min-width: 1200px) {
  .diet__title {
    grid-column: -2/-1;
  }
}

.diet__item::before {
  content: "";
  width: 68px;
  height: 56px;
  grid-column: 1/2;
  background: var(--bgi) var(--bgpg, center) var(--bgpv, center) no-repeat, radial-gradient(circle, var(--bright) 24px, rgba(0, 0, 0, 0) 25px);
}
@media (min-width: 768px) {
  .diet__item::before {
    grid-column: -2/-1;
    grid-row: 1/4;
    height: 222px;
    width: 268px;
    background: var(--bgi) var(--bgpg, center) var(--bgpv, center)/var(--bgs) no-repeat, radial-gradient(circle, var(--bright) 99px, rgba(0, 0, 0, 0) 100px);
  }
}
@media (min-width: 1200px) {
  .diet__item::before {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 118px;
    width: 138px;
    background: var(--bgi) var(--bgpg, center) var(--bgpv, center)/var(--bgs) no-repeat, radial-gradient(circle, var(--bright) 49px, rgba(0, 0, 0, 0) 50px);
  }
}

.diet__item--slim {
  --bgi: url("../img/cat-slim.svg");
  --bgpv: top;
}
@media (min-width: 768px) {
  .diet__item--slim {
    --bgs: 141px 194px;
  }
}
@media (min-width: 1200px) {
  .diet__item--slim {
    --bgs: 70px 97px;
  }
}

.diet__item--pro {
  --bgi: url("../img/cat-pro.svg");
  --bgpg: left;
}
@media (min-width: 768px) {
  .diet__item--pro {
    --bgs: 268px 112px;
  }
}
@media (min-width: 1200px) {
  .diet__item--pro {
    --bgs: 135px 57px;
  }
}

.diet__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  color: var(--color-text-font);
  margin: 0 0 15px 0;
  padding: 19px 0 23px 0;
  border-bottom: 1px solid var(--grayish);
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .diet__text {
    font-size: 16px;
    line-height: 1.5;
    grid-column: 1/2;
    border: none;
  }
}
@media (min-width: 1200px) {
  .diet__text {
    grid-column: 1/-1;
  }
}

.diet__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-font);
  grid-column: 1/-1;
  display: flex;
  column-gap: 15px;
}
@media (min-width: 768px) {
  .diet__link {
    font-size: 20px;
    line-height: 1.5;
    grid-column: 1/2;
  }
}
@media (min-width: 1200px) {
  .diet__link {
    grid-column: 1/-1;
  }
}

.diet__link::after {
  content: "";
  width: 24px;
  height: 12px;
  background: url("../img/icon-arrow.svg");
  align-self: center;
}

.how-it-works__title {
  margin: 0 0 40px 0;
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .how-it-works__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 137px;
    counter-reset: points;
  }
}
@media (min-width: 1200px) {
  .how-it-works__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 70px;
  }
}

.how-it-works__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .how-it-works__item {
    gap: 0 30px;
  }
}

.how-it-works__item::before {
  content: "";
  width: 60px;
  height: 60px;
  display: inline-block;
  background: var(--color-btn-bg) var(--bgi) no-repeat center center;
}
@media (min-width: 768px) {
  .how-it-works__item::before {
    width: 80px;
    height: 80px;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .how-it-works__item::after {
    content: "" counter(points);
    counter-increment: points;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 280px;
    line-height: 1;
    color: var(--gray-basic);
    grid-column: -2/-1;
    grid-row: 1/3;
  }
}

.how-it-works__item--leaf {
  --bgi: url("../img/icon-leaf.svg");
}

.how-it-works__item--powder {
  --bgi: url("../img/icon-powder.svg");
}

.how-it-works__item--cutlery {
  --bgi: url("../img/icon-cutlery.svg");
}

.how-it-works__item--scales {
  --bgi: url("../img/icon-scales.svg");
}

.how-it-works__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  color: var(--color-text-font);
  margin: 0;
}
@media (min-width: 768px) {
  .how-it-works__text {
    font-size: 16px;
    line-height: 1.5;
    grid-column: 1/-1;
    grid-row: 2/3;
    z-index: 2;
  }
}

.example {
  background-color: var(--color-bg-special);
}
@media (min-width: 768px) {
  .example {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 619px, var(--color-bg-special) 619px);
  }
}
@media (min-width: 1200px) {
  .example {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 136px, var(--color-bg-blocks) 136px);
  }
}

@media (min-width: 1200px) {
  .example__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
  }
}

.example__title {
  padding: 25px 0 0 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    margin-bottom: 63px;
  }
}
@media (min-width: 1200px) {
  .example__title {
    grid-column: 1/2;
    padding: 0;
    margin-bottom: 146px;
  }
}

.example__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  color: var(--color-text-font);
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 54px 0;
  }
}
@media (min-width: 1200px) {
  .example__text {
    grid-column: 1/2;
    width: 436px;
    margin: 0 0 69px 0;
  }
}

.example__wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .example__wrapper {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 99px;
  }
}
@media (min-width: 1200px) {
  .example__wrapper {
    grid-column: 1/2;
    grid-template-columns: 1fr;
  }
}

.example__list {
  margin: 0 0 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (min-width: 768px) {
  .example__list {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .example__list {
    grid-template-columns: repeat(2, 162px);
    gap: 42px;
    margin: 0 0 47px 0;
  }
}

.example__term {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  border: 1px solid var(--color-input-border-special);
  border-radius: 3px;
  padding: 13px 0 17px 0;
}
@media (min-width: 768px) {
  .example__term {
    padding: 14px 0 19px 0;
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.example__definition {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  color: var(--color-text-font);
  text-align: center;
  background-color: var(--color-bg-special);
  width: 87px;
  margin: -10px auto 0;
  padding: 0 6px 0 4px;
}
@media (min-width: 768px) {
  .example__definition {
    background-color: var(--color-input-bg);
    font-size: 14px;
    line-height: 1;
    width: 146px;
  }
}
@media (min-width: 1200px) {
  .example__definition {
    background-color: var(--color-bg-blocks);
    padding: 0;
  }
}

.example__text-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__text-info {
    justify-self: end;
    align-self: center;
    font-size: 20px;
    line-height: 1;
    width: 177px;
    text-align: end;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .example__text-info {
    justify-self: start;
    align-self: center;
    text-align: start;
    width: 366px;
  }
}

@media (min-width: 768px) {
  .example__cost {
    display: inline-block;
    margin-top: 9px;
  }
}
@media (min-width: 1200px) {
  .example__cost {
    margin: 0 0 0 63px;
  }
}

@media (min-width: 768px) {
  .example__slider {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .example__slider {
    grid-column: 2/3;
    grid-row: 1/4;
  }
}

.slider {
  display: grid;
  grid-template-columns: var(--persent, 50%) 1fr;
  width: 280px;
  padding: 0 0 40px 0;
}
@media (min-width: 768px) {
  .slider {
    width: 560px;
    padding: 0 0 101px 0;
  }
}

.slider__picture {
  grid-row: 1/2;
  display: flex;
  overflow: hidden;
}

.slider__picture--before {
  grid-column: 1/2;
}

.slider__picture--after {
  grid-column: 2/3;
  justify-content: flex-end;
}

.slider__range {
  grid-column: 1/-1;
  grid-row: 1/2;
  height: 100%;
  margin: 0;
  opacity: 0;
}

.slider__button-line {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: end;
  background-color: var(--gray-semi-dark);
  width: 4px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50%);
  pointer-events: none;
}

.slider__button-line::after {
  content: "";
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--gray-semi-dark);
  border-radius: 50%;
  background: url("../img/slider-arrows.svg") no-repeat center center var(--color-input-bg);
}

.partnership {
  background-color: var(--color-bg-blocks);
}
@media (min-width: 1200px) {
  .partnership {
    background-color: var(--color-input-bg);
  }
}

.partnership__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .partnership__wrapper {
    grid-template-columns: 215px 205px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .partnership__wrapper {
    width: 565px;
  }
}

.partnership__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--color-address-font);
  margin: 0;
}
@media (min-width: 768px) {
  .partnership__title {
    font-size: 20px;
    line-height: 1.3;
    margin-left: 40px;
  }
}
@media (min-width: 1200px) {
  .partnership__title {
    margin: 0;
  }
}

.partnership__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.4285714286;
  color: var(--color-text-font);
  margin: 0;
}
@media (min-width: 768px) {
  .partnership__text {
    font-size: 16px;
    line-height: 1.25;
    text-align: end;
    margin-right: 40px;
  }
}

@media (min-width: 768px) {
  .partnership__text span {
    display: block;
    margin-top: 20px;
  }
}

.program__title {
  margin: 0 0 37px 0;
  padding: 27px 0 0 0;
}
@media (min-width: 768px) {
  .program__title {
    padding: 65px 0 0 0;
    margin: 0 0 54px 40px;
  }
}

.program__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2857142857;
  text-transform: uppercase;
  color: var(--color-font);
  margin: 0 0 39px 0;
}
@media (min-width: 768px) {
  .program__text {
    font-size: 20px;
    line-height: 1.5;
    width: 323px;
    margin: 0 0 66px 40px;
  }
}

.program__form {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .program__form {
    padding: 0 40px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  .program__form {
    padding: 0 40px;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.form__group--pet-info {
  padding-bottom: 24px;
  margin-bottom: 28px;
}
@media (min-width: 1200px) {
  .form__group--pet-info {
    grid-column: 1/2;
  }
}

.form__group--program-type {
  padding-bottom: 24px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .form__group--program-type {
    border: 1px solid var(--color-input-border);
    padding: 30px 28px;
    margin-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .form__group--program-type {
    grid-column: -2/-1;
  }
}

.form__group--contacts {
  margin-bottom: 24px;
}
@media (min-width: 1200px) {
  .form__group--contacts {
    grid-column: 1/-1;
  }
}

.form__group--comment {
  margin-bottom: 23px;
}
@media (min-width: 1200px) {
  .form__group--comment {
    grid-column: 1/-1;
  }
}

.form__group--additional {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .form__group--additional {
    grid-column: 1/-1;
  }
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 13px;
  position: relative;
  align-items: center;
}

.form__label--programs {
  padding: 0 0 0 45px;
}

.form__label--options {
  padding: 0 0 0 46px;
}

.form__signature {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: var(--color-text-font);
  align-self: center;
}

.form__input {
  padding: 14px 0 13px 20px;
  border: 1px solid var(--color-input-border);
  width: 100%;
}

.form__input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: var(--color-text-font);
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 23px;
}
@media (min-width: 768px) {
  .form__list {
    grid-template-columns: 1fr;
  }
}

.form__list--contacts {
  gap: 20px;
}
@media (min-width: 1200px) {
  .form__list--contacts {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

@media (min-width: 768px) {
  .form__list--additional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 64px;
  }
}
@media (min-width: 1200px) {
  .form__list--additional {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.form__item--program {
  justify-self: start;
}

.form__item--additional {
  justify-self: start;
}

.form__control-mark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-input-border-special);
  border-radius: 50%;
  box-sizing: border-box;
}

.form__control-mark--checkbox {
  border-radius: 0;
}

.form__input[type=radio]:checked + .form__control-mark::before {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--color-btn-bg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__input[type=checkbox]:checked + .form__control-mark::before {
  content: "";
  width: 18px;
  height: 14px;
  background: url("../img/green-check.svg") no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.0833333333;
  color: var(--color-font);
  margin-bottom: 40px;
  position: relative;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .form__title {
    margin-bottom: 76px;
  }
}

.form__title::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  width: 100vw;
  height: 2px;
  background-color: var(--bright);
  box-shadow: 100vw 0 var(--bright);
  z-index: -1;
}

.form__text-comment {
  width: 100%;
  border: 1px solid var(--color-input-border);
  overflow: hidden;
  min-height: 150px;
  resize: vertical;
  outline: none;
}
@media (min-width: 768px) {
  .form__text-comment {
    min-height: 174px;
  }
}

.form__text-comment::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  text-transform: uppercase;
  color: var(--color-text-font);
  padding-left: 15px;
  padding-top: 9px;
}

.form__btn-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;
}
@media (min-width: 768px) {
  .form__btn-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
  }
}
@media (min-width: 1200px) {
  .form__btn-wrapper {
    grid-column: 1/-1;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

@media (min-width: 768px) {
  .form__btn-link {
    width: 100%;
    justify-self: start;
  }
}

.form__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  margin: 0;
  justify-self: center;
}
@media (min-width: 768px) {
  .form__text {
    align-self: center;
    justify-self: start;
  }
}

.main-catalog__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: var(--color-font);
  padding-top: 78px;
  margin-bottom: 41px;
}

.product-cards {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 1200px) {
  .product-cards {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.product-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
@media (min-width: 768px) {
  .product-cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
@media (min-width: 1200px) {
  .product-cards__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    grid-column: 1/-1;
  }
}

.product-cards__list--extra-products {
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .product-cards__list--extra-products {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
@media (min-width: 1200px) {
  .product-cards__list--extra-products {
    grid-column: 1/4;
    border: none;
    border-top: 1px solid var(--color-input-border-special);
    border-bottom: 1px solid var(--color-input-border-special);
  }
}

.product-cards__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: var(--color-font);
}

.product-cards__marketing {
  margin-bottom: 35px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .card {
    padding: 0 37px 40px 39px;
    grid-template-columns: 1fr;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 73px, var(--color-bg-blocks) 73px);
  }
}
@media (min-width: 1200px) {
  .card {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 81px, var(--color-bg-blocks) 81px);
  }
}

@media (min-width: 768px) {
  .card--else {
    background: var(--color-input-bg);
    border: 2px solid var(--color-bg-blocks);
  }
}

.card--extra-product {
  border-top: 1px solid var(--gray);
  padding-top: 13px;
  gap: 13px;
}
@media (min-width: 768px) {
  .card--extra-product {
    padding: 26px 38px 28px 38px;
    grid-template-columns: 1fr max-content max-content;
    gap: 25px 50px;
    background: var(--color-input-bg);
    border: none;
  }
}
@media (min-width: 1200px) {
  .card--extra-product {
    padding: 15px 0 17px 0;
    grid-template-columns: 285px repeat(2, 1fr) 244px;
    column-gap: 40px;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .card--extra-product:not(:last-child) {
    border-bottom: 1px solid var(--color-input-border-special);
  }
}

.card__figure {
  grid-column: 1/2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .card__figure {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  width: 76px;
  margin: 0 0 18px 0;
  grid-column: 2/-1;
}
@media (min-width: 768px) {
  .card__title {
    grid-column: 1/-1;
    text-align: center;
    justify-self: center;
  }
}

.card__title--else {
  width: 100%;
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 8px;
}

.card__title--else::before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background: url("../img/plus.svg") center no-repeat;
  margin: 25px auto;
}

.card__title--extra {
  grid-column: 1/-1;
  margin: 0;
}
@media (min-width: 768px) {
  .card__title--extra {
    grid-column: 1/2;
    justify-self: start;
  }
}
@media (min-width: 1200px) {
  .card__title--extra {
    grid-column: 1/2;
  }
}

.card__text {
  grid-column: 1/-1;
  text-align: center;
  margin: 0 0 21px 0;
}

.card__list-description {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
  color: var(--color-text-font);
  margin: 0 0 9px 0;
}
@media (min-width: 768px) {
  .card__list-description {
    grid-column: 1/-1;
  }
}

.card__parameter-value {
  display: flex;
  justify-content: space-between;
}

.card__value {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
  color: var(--color-text-font);
  margin: 0;
}

.card__value--cost {
  justify-self: end;
}

.card__sub-text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3333333333;
  color: var(--color-text-font);
}

.card__btn-link {
  grid-column: 1/-1;
  align-self: center;
}

@media (min-width: 768px) {
  .card__btn-link--extra {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .card__btn-link--extra {
    grid-column: -2/-1;
  }
}

.marketing {
  background: url("../img/green-cat-gift.png") center/280px 290px no-repeat;
  padding: 59px 61px 43px 58px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
}
@media (min-width: 768px) {
  .marketing {
    background: url("../img/green-cat-gift-tablet.png") center/707px 200px no-repeat;
    grid-template-columns: 1fr 1fr;
    gap: 140px;
  }
}
@media (min-width: 1200px) {
  .marketing {
    background: url("../img/green-cat-gift-desktop.png") center/245px 289px no-repeat;
    grid-template-columns: 1fr;
    gap: 60px;
    padding: 42px 61px 42px 58px;
  }
}

.marketing::before {
  content: "";
  width: 78px;
  height: 80px;
  background: url("../img/icon-gift.svg") no-repeat center;
  justify-self: center;
}
@media (min-width: 768px) {
  .marketing::before {
    justify-self: start;
    margin: 0 0 0 20px;
  }
}
@media (min-width: 1200px) {
  .marketing::before {
    justify-self: center;
    margin: 0;
  }
}

.marketing__text {
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-btn-font);
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .marketing__text {
    width: 161px;
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .marketing__text {
    width: 161px;
    text-align: center;
  }
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  background-color: var(--color-bg-blocks);
}
@media (min-width: 768px) {
  .page-footer {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    grid-template-columns: 1fr 1340px 1fr;
    grid-template-rows: 95px 198px 107px min-content;
  }
}

.page-footer__partnership {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .page-footer__partnership {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .page-footer__partnership {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: start;
    margin-left: 60px;
    z-index: 3;
  }
}

.page-footer__map {
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .page-footer__map {
    grid-column: 1/-1;
  }
}
@media (min-width: 1200px) {
  .page-footer__map {
    grid-column: 1/-1;
    grid-row: 1/4;
  }
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    grid-column: 2/3;
    justify-self: start;
  }
}

@media (min-width: 768px) {
  .page-footer__logo {
    justify-self: start;
  }
}

.page-footer__social {
  justify-self: center;
}
@media (min-width: 768px) {
  .page-footer__social {
    align-self: center;
  }
}

.page-footer__copyright {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    margin: 0;
    align-self: center;
    justify-self: end;
  }
}

.map {
  display: grid;
  grid-template-columns: 1fr;
}

.map__figure {
  justify-self: center;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.map__image {
  width: 320px;
  height: 362px;
}

.map__iframe {
  grid-column: 1/-1;
  grid-row: 1/2;
  border: none;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 24px;
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  background: var(--social-icon) no-repeat center;
}

.social__link--vk {
  --social-icon: url("../img/vkontakte.svg");
}

.social__link--youtube {
  --social-icon: url("../img/youtube.svg");
}

.social__link--telegram {
  --social-icon: url("../img/telegram.svg");
}
/*# sourceMappingURL=style.css.map */