*,
*::before,
*::after {
  box-sizing: border-box;
}

// * {
//   --out-width: 2px;
//   outline: var(--out-width) solid #ff0000;
//   outline-offset: calc(0px - var(--out-width));

//   &::before,
//   &::after {
//     outline: var(--out-width) solid #00ff00;
//     outline-offset: calc(0px - var(--out-width));
//   }
// }

html {
  height: 100%;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: lh(18, 14);
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100%;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  max-width: 1340px;
  margin: 0 auto;
  padding-left: var(--indent-x);
  padding-right: var(--indent-x);

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
